.k-nh-gi3 {
  position: absolute;
  top: 930px;
  left: 1040px;
  display: inline-block;
  font-family: var(--font-inconsolata);
  width: 244px;
  height: 27px;
}
.thnh-phn4 {
  font-family: var(--font-inter);
}
.thnh-phn-ln-da-du-v-mn {
  margin: 0;
}
.cng-dng-container4,
.thnh-phn-container4 {
  position: absolute;
  left: 69.33px;
  display: inline-block;
}
.thnh-phn-container4 {
  top: 39px;
  width: 1247px;
  height: 202px;
}
.cng-dng-container4 {
  top: 328px;
  white-space: pre-wrap;
  width: 1188px;
  height: 327px;
}
.thnh-phn-ln-da-du-v-mn-parent {
  position: absolute;
  top: 1716px;
  left: 5.67px;
  border-radius: var(--br-11xl);
  background-color: var(--color-paleturquoise);
  width: 1425.83px;
  height: 655px;
  overflow: hidden;
}
.banner-child1,
.image-2-icon4 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
.banner-child1 {
  background-color: var(--color-white);
}
.image-2-icon4 {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.banner-wrapper1,
.banner4 {
  position: absolute;
  left: 0;
  width: 1440px;
  height: 583.56px;
}
.banner4 {
  top: 0;
}
.banner-wrapper1 {
  top: 200.49px;
}
.div4 {
  left: 0;
  width: 73.65px;
  height: 75.81px;
}
.div4,
.thm-vo-gi4,
.wrapper7 {
  position: absolute;
}
.wrapper7 {
  left: 0;
  width: 73.65px;
  height: 75.81px;
}
.div4 {
  top: 0;
  display: inline-block;
}
.wrapper7 {
  top: 11.47px;
}
.thm-vo-gi4 {
  top: 26px;
  left: 75px;
  display: inline-block;
  width: 199px;
  height: 24px;
}
.vector-icon28 {
  position: absolute;
  height: 63.84%;
  width: 16.46%;
  top: 17.79%;
  right: 74.65%;
  bottom: 18.36%;
  left: 8.89%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.thm-vo-gi-hng-parent2 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-whitesmoke-200);
  width: 281.09px;
  height: 75.81px;
  overflow: hidden;
}
.frame-wrapper3,
.group-parent27 {
  position: absolute;
  top: 0;
  left: 345.87px;
  width: 281.09px;
  height: 75.81px;
  font-size: var(--font-size-3xl);
}
.group-parent27 {
  top: 1316px;
  left: 681px;
  width: 626.96px;
  height: 87.27px;
  font-size: var(--font-size-29xl);
}
.a2c9836d0bb-nuoc-duong-toc-tin-icon3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 498.68px;
  height: 551.6px;
  object-fit: cover;
}
.image-25-icon3 {
  left: 2.8px;
}
.image-25-icon3,
.image-26-icon3,
.image-27-icon3 {
  position: absolute;
  top: 611.45px;
  width: 141.95px;
  height: 183.54px;
  object-fit: cover;
}
.image-26-icon3 {
  left: 192.37px;
}
.image-27-icon3 {
  left: 381.01px;
}
.b11 {
  position: absolute;
}
.group-wrapper19,
.group-wrapper20 {
  position: absolute;
  left: 0;
  width: 522.96px;
  height: 794.99px;
}
.group-wrapper20 {
  top: 0;
}
.group-wrapper19 {
  top: 8.98px;
}
.b11 {
  top: 156.09px;
  left: 18px;
  font-size: var(--font-size-33xl);
  display: inline-block;
  color: var(--color-red-200);
  width: 246px;
  height: 55px;
}
.b12,
.wrapper8 {
  position: absolute;
  width: 95.62px;
  height: 27.22px;
}
.b12 {
  top: 0;
  left: 0;
  display: inline-block;
}
.wrapper8 {
  top: 104.83px;
  left: 293.01px;
  font-size: var(--font-size-17xl);
  color: var(--color-gray-600);
}
.trng-thi3 {
  font-weight: 500;
}
.cn-hng3 {
  font-weight: 200;
}
.sn-xut-vit-container4,
.trng-thi-cn-container3 {
  position: absolute;
  display: inline-block;
}
.trng-thi-cn-container3 {
  top: 211.09px;
  left: 21px;
  width: 625px;
  height: 47px;
}
.sn-xut-vit-container4 {
  top: 274.09px;
  left: 18px;
  width: 657px;
  height: 39px;
}
.thch-hp-vi4 {
  font-weight: 500;
  font-family: var(--font-inter);
}
.da-duda-hn {
  font-weight: 100;
}
.nc-ty-trang-container,
.thch-hp-vi-container4 {
  position: absolute;
  font-family: var(--font-inter);
  display: inline-block;
}
.thch-hp-vi-container4 {
  top: 326.59px;
  left: 16.57px;
  white-space: pre-wrap;
  width: 769.69px;
  height: 39.31px;
}
.nc-ty-trang-container {
  top: 0;
  left: 17.52px;
  font-size: var(--font-size-29xl);
  font-weight: 500;
  width: 674.07px;
  height: 81.65px;
}
.group-child16 {
  position: absolute;
  height: 25.42%;
  width: 33.58%;
  top: 17.24%;
  right: 66.42%;
  bottom: 57.34%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group {
  position: absolute;
  top: 0;
  left: 562px;
  width: 786.26px;
  height: 365.9px;
}
.group-wrapper17,
.group-wrapper18 {
  position: absolute;
  width: 1348.26px;
  height: 803.97px;
}
.group-wrapper18 {
  top: 0;
  left: 0;
}
.group-wrapper17 {
  top: 825.91px;
  left: 19px;
  font-size: var(--font-size-21xl);
  font-family: var(--font-inconsolata);
}
.group-child17 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-mediumorchid);
  width: 1440px;
  height: 200.49px;
}
.image-1-icon4 {
  position: absolute;
  top: 0;
  left: 15.47px;
  width: 172.6px;
  height: 190.64px;
  object-fit: cover;
}
.hi-p8,
.lin-h8,
.trang-ch4 {
  position: absolute;
  display: inline-block;
}
.lin-h8,
.trang-ch4 {
  height: 94.63px;
}
.trang-ch4 {
  top: 60.85px;
  left: 183.03px;
  width: 162.08px;
}
.hi-p8,
.lin-h8 {
  top: 60px;
}
.lin-h8 {
  left: 562px;
  color: var(--color-gray-200);
  width: 117.29px;
}
.hi-p8 {
  left: 726px;
  color: var(--color-gray-300);
  width: 125.82px;
  height: 105.76px;
}
.group-child18 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  width: 267.47px;
  height: 68.02px;
}
.tm-kim4 {
  position: absolute;
  top: 1.19px;
  left: 52.09px;
  display: inline-block;
  width: 140.49px;
  height: 70.41px;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.32);
}
.group-child19 {
  position: absolute;
  height: 64.97%;
  width: 90.37%;
  top: 15.62%;
  right: 4.7%;
  bottom: 19.41%;
  left: 4.93%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-parent30 {
  position: absolute;
  top: 0;
  left: 0;
  width: 267.47px;
  height: 71.6px;
}
.group-wrapper24 {
  width: 267.47px;
  height: 71.6px;
  top: 71.82px;
  left: 990.82px;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
}
.group-child20,
.group-wrapper22,
.group-wrapper24 {
  position: absolute;
}
.group-wrapper22 {
  top: 0;
  left: 0;
  width: 1440px;
  height: 200.49px;
}
.group-child20 {
  top: 55px;
  left: 1316.21px;
  width: 94.17px;
  height: 106.21px;
  object-fit: cover;
}
.group-parent29 {
  position: absolute;
  top: 0;
  left: 2px;
  width: 1440px;
  height: 200.49px;
  font-size: var(--font-size-13xl);
  color: var(--color-gray-400);
  font-family: var(--font-sans-serif-collection);
}
.frame-parent3 {
  position: absolute;
  top: 0;
  left: -2px;
  width: 1442px;
  height: 2371px;
  font-size: var(--font-size-26xl);
  color: var(--color-black);
}
.footer-child2 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 1409px;
  height: 681px;
}
.facebook4 {
  position: absolute;
  top: 173px;
  display: inline-block;
  width: 147px;
  height: 28px;
}
.facebook4,
.instagram4 {
  left: 1151px;
  font-weight: 200;
}
.instagram4,
.shop4,
.youtube4 {
  position: absolute;
  display: inline-block;
}
.youtube4 {
  left: 1151px;
  font-weight: 200;
}
.instagram4,
.youtube4 {
  top: 234px;
  width: 157px;
  height: 34px;
}
.youtube4 {
  top: 300px;
  width: 139px;
}
.shop4 {
  top: 0;
  left: 0;
  font-weight: 900;
  width: 113px;
  height: 31px;
}
.chm-sc-tc4 {
  position: absolute;
  font-weight: 200;
  display: inline-block;
}
.dng-da4 {
  height: 29px;
}
.dng-da4,
.dng-mi4,
.sn-phm-mi4 {
  position: absolute;
  font-weight: 200;
  display: inline-block;
}
.sn-phm-mi4 {
  top: 75px;
  left: 3px;
  width: 204px;
  height: 29px;
}
.dng-da4 {
  top: 144px;
  left: 0;
  width: 145px;
}
.chm-sc-tc4 {
  top: 213px;
  left: 3px;
  width: 215px;
  height: 36px;
}
.dng-mi4 {
  left: 3px;
  top: 289px;
  width: 227px;
  height: 46px;
}
.shop-parent2 {
  position: absolute;
  top: 8px;
  left: 793px;
  width: 230px;
  height: 335px;
}
.hi-p9,
.t-hng-v4 {
  position: absolute;
  display: inline-block;
}
.t-hng-v4 {
  top: 8px;
  left: 388px;
  font-weight: 900;
  width: 279px;
  height: 42px;
}
.hi-p9 {
  top: 81px;
  width: 132px;
  height: 36px;
}
.hi-p9,
.hng-dn-mua4,
.iu-kin-chung4,
.lin-h9 {
  left: 388px;
  font-weight: 200;
}
.hng-dn-mua4,
.iu-kin-chung4,
.lin-h9,
.mng-x-hi4 {
  position: absolute;
  display: inline-block;
}
.hng-dn-mua4 {
  top: 145px;
  width: 316px;
  height: 34px;
}
.iu-kin-chung4 {
  top: 215px;
  width: 256px;
  height: 33px;
}
.lin-h9 {
  top: 268px;
  width: 155px;
  height: 40px;
}
.mng-x-hi4 {
  top: 0;
  left: 1.65px;
  font-weight: 900;
  width: 213px;
  height: 53px;
}
.vector-icon29 {
  position: absolute;
  height: 12.35%;
  width: 7.32%;
  top: 31.76%;
  right: 91.71%;
  bottom: 55.88%;
  left: 0.98%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon30 {
  left: 0.98%;
}
.vector-icon30,
.vector-icon31 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon30 {
  height: 9.65%;
  width: 10.68%;
  top: 63.53%;
  right: 88.35%;
  bottom: 26.82%;
}
.vector-icon31 {
  height: 7.35%;
  width: 11.57%;
  top: 92.65%;
  right: 88.43%;
  bottom: 0;
  left: 0;
}
.image-29-icon4 {
  position: absolute;
}
.mng-x-hi-parent2 {
  position: absolute;
  top: 8px;
  left: 1093.35px;
  width: 214.65px;
  height: 226.67px;
}
.image-29-icon4 {
  top: 0;
  left: 0;
  width: 372px;
  height: 450px;
  object-fit: cover;
}
.footer4,
.group-parent31 {
  position: absolute;
}
.group-parent31 {
  top: 94px;
  left: 0;
  width: 1308px;
  height: 450px;
}
.footer4 {
  top: 2719px;
  left: 4px;
  background-color: var(--color-white);
  width: 1440px;
  height: 681px;
  font-size: var(--font-size-11xl);
  color: var(--color-gray-100);
}
.vector-icon32,
.vector-icon33,
.vector-icon34 {
  position: absolute;
  height: 2.54%;
  width: 4.25%;
  top: 38.41%;
  right: 34.5%;
  bottom: 59.05%;
  left: 61.25%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon33,
.vector-icon34 {
  height: 2.09%;
  width: 3.36%;
  top: 38.62%;
  right: 55.81%;
  bottom: 59.29%;
  left: 40.83%;
}
.vector-icon34 {
  right: 42.2%;
  left: 54.44%;
}
.sn-phm4 {
  position: absolute;
  top: 59px;
  left: 365px;
  font-family: var(--font-sans-serif-collection);
  color: var(--color-gray-500);
  display: inline-block;
  width: 162.08px;
  height: 105.76px;
}
.chi-tit-sn-phm-4 {
  position: relative;
  background-color: var(--color-whitesmoke-100);
  width: 1440px;
  height: 3400px;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-gray-600);
  font-family: var(--font-inter);
}
